<h1>Merchant Dashboard</h1>
<h4>Employeer:</h4>
<p>Name: <%= @merchant.name %></p>
<p>Address: <%= @merchant.address %></p>
<%= link_to "My Items", "/merchant/items" %>
<%= link_to "My Discounts", "/merchant/discounts" %>

<section class="orders">
  <ul>
    <% @merchant_orders.each do |order| %>
      <section class="order-<%= order.id %>">
        <li>
        <p><%= link_to "Order Id: #{order.id}", "/merchant/orders/#{order.id}" %></p>
        <p>Created At: <%= order.created_at %></p>
        <p>Total Quantity of Items: <%= order.item_orders.where('item_orders.merchant_id = ?', @merchant.id).sum(:quantity) %></p>
        <p>Total Value of Items: <%= number_to_currency(order.item_orders.where('item_orders.merchant_id = ?', @merchant.id).sum('quantity * price')) %></p>
        </li>
      </section>
    <% end %>
  </ul>
</section>
