<h1>Cart</h1>

<% if !@items.empty? %>
<center>
<table class = "cart-items">
  <tr>
    <th>Item</th>
    <th>Sold By</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <% @items.each do |item, quantity| %>
    <tr id= "cart-item-<%=item.id%>">
      <td>
        <p align = "center">
          <span>
            <img align = "center" id="cart-image" src= <%= item.image %>>
            <%=link_to item.name, "/items/#{item.id}" %>
          </span>
        </p>
      </td>
      <td>
        <p align = "center">
          <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}"%>
        </p>
      </td>
      <% if cart.has_discount(item) %>
      <td>
        <p><%= number_to_currency(cart.discount_price(item))%></p>
        <p>Item price has been adjusted due to discount!</p>
      </td>
      <% else %>
      <td>
        <p><%= number_to_currency(item.price) %></p>
      </td>
      <% end %>
      <td>
        <center>
          <p><%=quantity%></p>
          <p><%= link_to "Increase Amount", "/cart/#{item.id}/increase", method: :put %></p>
          <p><%= link_to "Decrease Amount", "/cart/#{item.id}/decrease",method: :put %></p>
          <p><%= link_to "Remove", "/cart/#{item.id}",method: :delete %></p>
        </center>
      </td>
      <% if cart.has_discount(item) %>
        <p>Discount of <%= cart.best_discount(item).percentage_discount %>% off <%= cart.best_discount(item).item_quantity %> items has been applied to <%= item.name %></p>
        <p><%=number_to_currency(cart.discount_subtotal(item))%></p>
      <% else %>
      <td>
        <p><%=number_to_currency(cart.subtotal(item))%></p>
      </td>
      <% end %>
    </tr>
  <% end %>
</table>
  <% if cart.discount_applies %>
    <p>Total: <%= number_to_currency(cart.discount_total) %></p>
    <p><%= link_to "Empty Cart", "/cart", method: :delete %></p>
    <p><%= link_to "Checkout", "/orders/new", method: :get %></p>
  <% else %>
    <p>Total: <%= number_to_currency(cart.total) %></p>
    <p><%= link_to "Empty Cart", "/cart", method: :delete %></p>
    <p><%= link_to "Checkout", "/orders/new", method: :get %></p>
  <% end  %>
<% else %>
  <h3 align= "center">Cart is currently empty</h3>
<% end %>
<table>
</center>
