<h1>Hello <%= @user.name %></h1>
<p>Address: <%= @user.address %></p>
<p>City: <%= @user.city %></p>
<p>State: <%= @user.state %></p>
<p>Zip code: <%= @user.zip %></p>
<p>Email: <%= @user.email %></p>

<%= link_to "Edit Profile", "/users/edit" %> |
<%= link_to "Edit Password", "/users/password/edit" %>
<% if current_user.orders.any? %>
  | <%= link_to "My Orders", "/profile/orders" %>
<% end  %>
