  <h1>All Items</h1>
<section class="grid-container">
  <% @items.each do |item| %>
    <% if item.enabled? %>
      <section class = "grid-item" id= 'item-<%=item.id%>'>
        <h2> <%=link_to item.name, "/items/#{item.id}" %> </h2>
        <section id='image-link'>
          <div>
            <%= link_to(image_tag("#{item.image}", alt: "#{item.name}"), "/items/#{item.id}") %>
          </div>
        </section>
        <p> <%= item.description %> </p>
        <p>Price: <%=number_to_currency(item.price) %> </p>
        <p>Inventory: <%= item.inventory %> </p>
        <% if item.active? %>
          <p>Active</p>
          <%= button_to "Deactivate", "/merchant/#{item.id}/update", method: :patch %>
        <% else %>
          <p>Inactive</p>
          <%= button_to "Activate", "/merchant/#{item.id}/update", method: :patch %>
        <% end %>
      </section>
    <% end %>
  <% end %>
</section>
