<h1>Discount <%= @discount.id %></h1>

<p>Percentage Discount: <%= @discount.percentage_discount %>%</p>
<p>Item Quantity: <%= @discount.item_quantity %> items</p>

<%= link_to "Update Discount", "/merchant/discounts/#{@discount.id}/edit" %>
<%= link_to "Delete Discount", "/merchant/discounts/#{@discount.id}", method: :delete %>
