<h1 align= "center">Create Review for <%= link_to @item.name, "/items/#{@item.id}" %></h1>
<center>
  <%= form_tag "/items/#{@item.id}/reviews", method: :post do |f| %>

    <%= label_tag :title %>
    <%= text_field_tag :title %>

    <%= label_tag :content %>
    <%= text_field_tag :content %>

    <label for="rating">Select a Rating:</label>
    <select name="rating" id="rating">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select><br><br>

    <%= submit_tag 'Create Review' %>
  <% end %>
</center>
